<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup-calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="hold" updatedAt="05/04/2023 21:00:00" createdAt="05/03/2023" notes="Notes 1."></app-pickup-call-card>
  <app-pickup-call-card status="processing" updatedAt="05/05/2023 23:00:00" createdAt="05/03/2023" notes="Notes 2."></app-pickup-call-card>
  <app-pickup-call-card status="finished" updatedAt="05/06/2023 00:00:00" createdAt="05/03/2023" notes="Notes 3." value="$ 15000"></app-pickup-call-card>
</ion-content>