<ion-content [fullscreen]="true">
<div class="">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="success">Shopping</ion-card-title>
          </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-input label="Username" type="email" labelPlacement="floating" placeholder="Enter email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Password" type="password" labelPlacement="floating" placeholder="Enter password"></ion-input>
      </ion-item>
      <ion-button color="dark" fill="clear" expand="block">Forgot password</ion-button>
      <ion-button color="success" expand="block" (click)="login()">Login</ion-button>
      <ion-button color="success" fill="outline" expand="block" (click)="register()">Register</ion-button>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
