<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup-call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Winkel_triple_projection_SW.jpg"/>
  <ion-card>
    <ion-card-content>
      <p>Address: Street, number</p>
      <p>Compliment: Street, number</p>
      <p>Neighborhood: Street, number</p>
      <p>Zip Code: Street, number</p>
      <p>City Name: Street, number</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea aria-label="textarea"></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success" (click)="newPickupCall()">Create pickup-call</ion-button>
</ion-content>
