<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="https://cdn-icons-png.flaticon.com/512/4436/4436481.png"/>
      </ion-avatar>
      <ion-label>
        <h2>Hello</h2>
        <p>
          Gathered: <span class="money"> $ 15,000 </span>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-pickup-call-card status="hold" updatedAt="05/04/2023 21:00:00" createdAt="05/03/2023" notes="Notes 1.">
    <ion-header header>
      <ion-card-subtitle>Last Pick-up Call</ion-card-subtitle>
    </ion-header>
    <ion-button expand="full" fill="clear" color="success" footer>SEE ALL</ion-button>
  </app-pickup-call-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
